<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpappsmoviles.serviapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:parentActivityName=".activity.Login" android:launchMode="singleTask"/>
        <activity android:name=".activity.ListaFavorios"  android:parentActivityName=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.TiendaPerfil"  android:parentActivityName=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.EditarTiendaPerfil"  android:parentActivityName=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.MapaTiendas"  android:parentActivityName=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.MapaZonaTrabajo"  android:parentActivityName=".activity.EditarTiendaPerfil" android:launchMode="singleTask"/>
        <activity android:name=".activity.ListaTiendas"  android:parentActivityName=".activity.MainActivity" android:launchMode="singleTask"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCuYHwH_F4qzlVLJYDJWIR5FZWS_eN5loA"/>
    </application>
</manifest>